body {
  background-color: darkgray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  margin: 0;
}

div.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    text-shadow: 2px 2px black;
    margin-bottom: 0;
  }

  p {
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px black;
  }
}
